* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00000b;
    overflow-x: hidden;
}
.bg-glow1 {
    position: absolute;
    width: 1000px;
    height: 450px;
    background: rgba(0, 34, 190, 0.8);
    filter: blur(250px);
}
.bg-glow3 {
    position: absolute;
    width: 1000px;
    height: 700px;
    background: rgb(0, 77, 255);
    filter: blur(250px);
}
.glow-1 {
    top: 20px;
    right: -700px; /* mag nu */
    transform: rotate(45deg);
    z-index: 1;
}
.glow-3 {


    position: fixed;

    left: 300px;
    top: 800px;
    width: 1000px;
    height: 1000px;
    background: rgb(0, 77, 255);
    border-radius: 50%;
    filter: blur(250px);

    z-index: -1;


}



/*hero*/
.project-hero {
    height: 50vh;
    display: flex;
    align-items: center;
    position: relative;

    background-image: url("assets/custom_sneaker_pic.jpg");
    background-size: cover;
    background-position: center;
}

.project-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 11, 0.6);
    z-index: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 50px;
    position: relative;
    z-index: 1;
    color: white;
    font-family: "Poppins", sans-serif;
}

.project-title {
    color: white;
    font-size: 40px;
}

.download-container {
    display: flex;
}

.download-btn {
    background-color: #FFFFFF;
    color: #00000b;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin: 15px 0 0 0;
    font-size: 20px;
}


/*inhoud*/
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 100px 0 40px 0;
    margin: 0 auto;
    gap: 50px;
}

.project-content{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: justify;
}

.project-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.project-image{
    width: 700px;
    border-radius: 20px;
}
