* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #00000b;
    overflow-x: hidden;
}

.bg-glow1 {
    position: absolute;
    width: 1000px;
    height: 450px;
    background: rgba(0, 34, 190, 0.8);
    filter: blur(250px);
}

.bg-glow2 {
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(0, 34, 190, 0.8);
    filter: blur(230px);
}

.bg-glow3 {
    position: absolute;
    width: 1000px;
    height: 700px;
    background: rgb(0, 77, 255);
    filter: blur(250px);
}


.glow-1 {
    top: -50px;
    right: -700px; /* mag nu */
    transform: rotate(45deg);
    z-index: -1;
}

.glow-2 {
    top: 900px;
    left: -330px; /* mag nu */
    border-radius: 900px;
    z-index: -1;
}

.glow-3 {


    position: fixed;

    left: 300px;
    top: 800px;
    width: 1000px;
    height: 1000px;
    background: rgb(0, 77, 255);
    border-radius: 50%;
    filter: blur(250px);

    z-index: -1;


}


/* ========== nav ham. ==========*/

.hamburger span {
    display: none;
}

/*========== Navigatie ==========*/
main{
    padding-top: 100px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 0, 11, 0.3);
    align-items: center;
    width: 100%;
    padding: 20px 0 10px 0;
    backdrop-filter: blur(10px);
    webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); ;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px 0;
}

.nav-logo img {
    width: 40px;

}

.nav-list {
    display: flex;
    gap: 30px;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    list-style: none
}

.nav-link {
    text-decoration: none;
    color: white;
}


/* ========== Introductie / Voorstelling ========== */

.about {
    padding: 30px 0 0 0;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.about-title {
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 100px;
    margin: 0 0 15px 0;
}

.about-text {
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 25px;
    max-width: 700px;
    line-height: 1.6;
}

.cta-button-1 {
    display: inline-block;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    margin: 40px 0 0 0;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}

.about-image img {
    width: 350px;
    position: relative;
    border-radius: 20px;
}

.image-glow {
    position: absolute;
    top: 53.1%;
    left: 74.70%;
    width: 345px;
    height: 550px;

    background: rgba(0, 34, 190, 0.8);
    filter: blur(20px);

    transform: translate(-50%, -50%);
    z-index: -1;
}


/* ========== project section ========== */

.project-section {
    margin: 150px 0 100px 0;
}

.section-header {
    display: flex;
    padding: 0 0 50px 0;
}

.section-title {
    color: #FFFFFF;
    font-family: "poppins", sans-serif;
    font-size: 50px;
    font-weight: bold;
}


/* ========== projecten ========== */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: stretch
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(160, 182, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    height: 100%;

}

.project-image img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
}

.project-info {
}

.project-title {
    margin: 10px 0 0 0;
    font-size: 30px;
    text-align: center;
}

.project-link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cta-button-2 {
    display: flex;
    justify-self: center;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 100px 0 150px 0;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}


/* ========== Contact ========== */

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.contact-header {
    flex: 1;
}

.contact-title,
.contact-description {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "poppins", sans-serif;
}

.contact-form {
    flex: 1.1;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    font-size: 14px;
    color: white;
    font-family: "poppins", sans-serif;
    margin: 0 10px 6px 0;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 14px;
    outline: none;
}

.form-group textarea {
    min-height: 120px;
    resize: none;
}

/* focus effect */

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4f8cff;
}

/* button */

.contact-form button {
    width: 20%;
    background: white;
    color: black;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

/* hover */

.contact-form button:hover {
    background: #3a70e0;
}

/* status text */

#form-status {
    font-size: 14px;
}


/*footer*/

.footer {

    position: relative;
    z-index: 1;

    background: rgba(0, 0, 11, 0.3);
    padding: 10px 0 10px 0;
}

.footer-top {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
}

.footer-bottom {
    display: flex;
    position: relative;
}

.footer-copy {
    margin: 0 auto;
    font-size: 13px;
}


.privacy-button {
    position: absolute;
    right: 0;
    font-size: 12px;
}


.footer-copy,
.privacy-button a {
    color: white;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

.contact-icon {
    width: 40px;
    filter: brightness(0) invert(1)
}


.copyright {
    display: flex;
    justify-content: center;
    font-family: "open sans", sans-serif;
    font-size: 25px;
    color: #000619FF
}


/* ===== pop-up ======*/


.privacy-linktitel a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #000619FF;
    display: flex;
    justify-content: right;
    font-size: 18px;
}


.privacybeleid-titel {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
}


/* Achtergrond-overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 5, 32, 0.73); /* transparante donkere achtergrond */
    z-index: 1000;


}

.overlay p, ol {
    font-size: 18px;

    margin: 0 0 0 20px;
}


/* Het kader zelf */

.pop-upkader {
    background: rgb(7, 0, 50);
    width: 100%;
    max-width: 800px;
    max-height: 80vh; /* Nieuw: maximaal 80% van het scherm in hoogte */
    margin: 10% auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(133, 142, 255, 0.47);
    overflow-y: auto;
    color: white;
    font-family: "open sans", sans-serif;
    border: 1px solid #bec3ff;
}


.sluitknop {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.bewerkdatum {
    font-size: 15px;
    font-weight: lighter;
}

/* Scrollbar breedte */

.pop-upkader::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar achtergrond (spoor) */

.pop-upkader::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

/* Scrollbar duim (het schuifje) */

.pop-upkader::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

/* Hover-effect op duim */

.pop-upkader::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}


/* ========== Responsive Design voor mobiel ========== */
@media (max-width: 768px) {

    .voorstelling-container {
        margin: 80px 20px 0 20px;
        gap: 30px;
    }

    .ikbensavio {
        display: flex;
        justify-content: center;
        color: #fff;
        font-family: "montserrat", sans-serif;
        font-size: 40px;
        font-weight: bold;
    }

    .paragraafEnFoto {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .intro-paragraaf {
        font-size: 15px;
        width: 90%;
    }

    .profielfoto {
        width: 200px;
    }

    .tussentitel {
        font-size: 40px;
        margin: 150px 0 40px 0;
        text-align: center;
    }


    .project-tussentitel-donker,
    .project-tussentitel-licht {
        margin-left: 20px;
        font-size: 20px;
    }


    .artikel-content {
        flex-direction: column;
        align-items: center;
    }

    .foto-inKader,
    .tekst-kader {
        width: 120px;
        height: auto;
    }

    .wpl_img {
        display: flex;
        width: 120px;
        height: auto;
    }

    .uitleg-project {
        font-size: 20px;
        margin: 20px 0 0 0;
    }

    .titel-project {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
    }

    .contact-section {
        font-family: "montserrat", sans-serif;
        font-size: 30px;
        padding: 50px 50px 10px 50px;
        margin: 0;
    }


    .contact-titel {
        color: #000619FF;
        font-size: 18px;
        margin: -20px 0 10px -20px;
    }

    .contact-paragraaf {
        color: #000619FF;
        margin: 0 0 25px -20px;
        font-size: 12px;
    }

    .info-gegevens {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 10px;
        color: #000619FF;
    }


    .info-gegevens p {
        font-family: "open sans", sans-serif;
        display: flex;
        flex-direction: row;
        color: #000619FF;
        font-size: 15px;
    }

    .contactInfo-container {
        display: flex;
        flex-direction: column;
        margin: 0 0 25px -20px;
    }

    .contactInfo-container a {
        text-decoration: none;
        color: #000619FF
    }


    .telefoon-icoon, .mail-icoon, .instagram-icoon {
        width: 20px;
    }


    .external-icon {
        width: 10px;
        height: 10px;
        display: inline-block;
    }

    .copyright {
        display: flex;
        justify-content: center;
        font-family: "open sans", sans-serif;
        font-size: 15px;
        color: #000619FF
    }

    .privacy-linktitel a {
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: #000619FF;
        display: flex;
        justify-content: right;
        font-size: 12px;
        margin: 10px 0 0 0;
    }

    .privacy-popup a {
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        font-size: 12px;
        color: white;
        margin: 0 20px 20px 0;
        display: flex;
        justify-content: right;
    }

    .privacybeleid-titel {
        display: flex;
        font-size: 26px;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 25px;
        font-weight: 600;
        text-align: center;
    }

    .privacytekst {
        width: 200px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .privacytekst li {
        margin-left: 10px;
    }

    .privacytekst ul,
    .privacytekst ol {
        margin: 10px 0 20px 0;
        padding: 0;
    }

    .privacytekst strong {
        margin-bottom: 10px;
        color: #dbdbff;
        font-size: 16px;
        font-weight: 600;
    }


    .bewerkdatum {
        font-size: 10px;
        font-weight: lighter;
        color: #ccc;
        text-align: right;
    }


    /* Achtergrond-overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0, 5, 32, 0.73);
        display: none;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;

    }

    .pop-upkader {
        background: rgb(7, 0, 50);
        width: 100%;
        max-width: 700px;
        max-height: 80vh;
        border-radius: 15px;
        font-family: "open sans", sans-serif;
        overflow-y: auto;
        line-height: 1.6;
    }


    /* Sluitknop rechtsboven */
    .sluitknop {
        float: right;
        font-size: 28px;
        margin: -20px 0 0 -50px;
        font-weight: bold;
        transition: color 0.2s;
    }


    /* Scrollbar breedte */
    .pop-upkader::-webkit-scrollbar {
        width: 5px;
    }

    /* Scrollbar achtergrond (spoor) */
    .pop-upkader::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }

    /* Scrollbar duim (het schuifje) */
    .pop-upkader::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }

    /* Hover-effect op duim */
    .pop-upkader::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.6);
    }
}








