/* ====== Reset & basis ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #000619;
    color: #fff;
    font-family: "open sans", sans-serif;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    color: #a1a1a1;
}


a:visited {
    color: white;
}




/* ====== Navigatie ====== */
.nav-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    margin: 60px 60px 0 0;
    font-size: 30px;
    gap: 100px;
}

.nav-bar img {
    width: 40px;
    height: 40px;
}

.titelEnIcoon {
    display: flex;
    gap: 10px;
    margin: 20px 0 0 20px;
}

.head-titel {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: "montserrat", sans-serif;
}

.titel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.introductie-wpl {
    font-size: 50px;
    font-family: "montserrat", sans-serif;
}









/* ====== Artikelen ====== */
.artikel-section-donker, .artikel-section-licht {
    padding: 150px 0;
    transition: transform 0.7s ease;
}


.artikel-section-licht {
    background-color: #ffffff;
}


.project-tussentitel-donker,
.project-tussentitel-licht {
    margin: 0 0 0 100px;
    font-size: 20px;
    font-family: "montserrat", sans-serif;
}

.project-tussentitel-licht {
    color: #fff;
}

.project-tussentitel-donker {
    color: #000619;
}

.titel-project {
    color: #000619;
    font-size: 25px;
    margin: 0 0 10px 20px;
    font-family: "montserrat", sans-serif;
}


.link-artikel {
    display: inline-block;
}

.artikel-donker,
.artikel-licht {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    border: 5px solid;
    background-color: transparent;
    transition: transform 0.3s ease;
    margin: 20px 90px 40px;
}

.artikel-donker {
    border-color: #000619;
    color: #000619;
}

.artikel-licht {
    color: #000619;
    background-color: #fff;
}

.artikel-donker:hover,
.artikel-licht:hover {
    transform: scale(1.01);
}

.artikel-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.foto-inKader {
    width: auto;
    height: 150px;
    border-radius: 15px;
}

.tekst-kader {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border: 3px solid #000619FF;
    border-radius: 15px;
    font-size: 18px;
    font-family: "montserrat", sans-serif;
}

.uitleg-project {
    margin-left: 20px;
    font-size: 28px;
}

.artikel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meer_binnenkort{
    display: flex;
    justify-content: center;
    padding:150px 0 0 0;
    color: black;
    align-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

/* ====== Responsive ====== */
@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .titel {
        justify-content: flex-start;
        padding: 10px;
    }

    .introductie-wpl {
        font-size: 30px;
    }

    .project-tussentitel-donker,
    .project-tussentitel-licht {
        margin: 30px 20px 20px;
        font-size: 5px;
    }

    .artikel1,
    .artikel2 {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;
        padding: 15px;
    }

    .artikel-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .foto-inKader,
    .tekst-kader {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .tekst-kader {
        text-align: center;
        font-size: 16px;
        padding: 20px;
    }

    .uitleg-project {
        font-size: 18px;
        margin: 10px 0 0;
    }

    .artikel-info {
        width: 100%;
        margin-top: 10px;
    }
}