* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    padding: 0 20px;
}

.footer {

    position: relative;
    z-index: 1;

    background: rgba(0, 0, 11, 0.3);
    padding: 10px 0 10px 0;
}

.footer-top {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
}

.footer-bottom {
    display: flex;
    position: relative;
}

.footer-copy {
    margin: 0 auto;
    font-size: 13px;
}


.privacy-button {
    position: absolute;
    right: 0;
    font-size: 12px;
}


.footer-copy,
.privacy-button a {
    color: white;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

.contact-icon {
    width: 40px;
    filter: brightness(0) invert(1)
}






@media (max-width: 768px) {

    /* Top gedeelte */
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    /* Navigatie stacken */
    .footer .nav-list {
        display: none;
    }

    /* Logo kleiner */
    .nav-logo img {
        width: 30px;
    }

    /* Instagram icoon */
    .contact-icon {
        width: 30px;
    }

    /* Bottom gedeelte */
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }

    /* Privacy knop resetten */
    .privacy-button {
        position: static;
    }

    .footer-copy {
        margin: 0;
    }
}
