* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000619FF;
}


.titelEnIcoon {
    display: flex;
    margin: 20px 0 0 20px;
    gap: 5px;
}

.head-titel {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: "montserrat", sans-serif;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    color: #FFFFFFFF;
}

.nav-bar img {
    width: 40px;
    height: 40px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #474747;
    cursor: pointer;


}

a:visited{
    color: black;
}
/*inhoud*/

.project-container{
    color: #FFFFFF;
    font-family: "montserrat", sans-serif;
    margin: 50px 0 30px 170px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.titel-project {
    display: flex;
    font-family: "open sans", sans-serif;
    font-size: 50px;
}

.uitleg-project {
    font-size: 40px;
    width: 90%;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-word;
}

.foto{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.foto img {
    width: 350px;
    border-radius: 20px;
}

@media( max-width: 768px) {

    .illustrator-container{
        color: #FFFFFF;
        font-family: "montserrat", sans-serif;
        margin: 50px 0 100px 30px;
        display: flex;
        flex-direction: column;
        gap: 15px
    }

    .titelEnIcoon img{
        width: 30px;
        height: 30px;
    }

    .head-titel {
        display: none;
    }

    .project-container {
        display: flex;
        margin: 50px 0 40px 40px;
    }

    .titel-project {
        display: flex;
        font-size: 30px;
    }

    .uitleg-project{
        font-size: 20px;
        width: 300px;
    }

    .foto{
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 20px;
    }

    .foto img {
        width: 300px;
        border-radius: 10px;
    }
}
