<div class="container">
    
    <div class="footer-top">
        
        <a class="nav-logo" href="/">
            <img src="/assets/favicon_wit.png" alt="Logo">
        </a>
        
        <div class="footer-info">
            
            <div class="footer-nav">
                <ul class="nav-list">
                    
                    <li>
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-link" href="/projecten/projecten.html">
                            Projecten
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-link" href="/#contact">
                            Contact
                        </a>
                    </li>
                
                </ul>
            </div>
        
        </div>
        
        <a
                href="https://www.linkedin.com/in/savio-ferraris-194a8a352/"
                target="_blank"
                rel="noopener noreferrer"
        >
            <img
                    class="contact-icon"
                    src="/assets/linkedin_logo.webp"
                    alt="LinkedIn icoon"
            >
        </a>
    
    </div>
    
    <div class="footer-bottom">
        
        <p class="footer-copy">
            &copy; 2026 Savio Ferraris
        </p>
        
        <div class="privacy-button">
            <a href="#" onclick="openModal(); return false;">
                Privacybeleid
            </a>
        </div>
    
    </div>

</div>