header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 15px 0;
    background: rgba(0, 0, 11, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.container {
    padding: 0 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    width: 30px;
}

.nav-list {
    display: flex;
    gap: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    list-style: none;
}

.nav-link{
    position: relative;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-link:hover {
    color: white;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}


.hamburger {
    display: none;
    border: none;
    background: transparent;
    padding: 0;
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 25px;
    }

    .hamburger span {
        width: 100%;
        height: 4px;
        background: white;
        border-radius: 999px;
        transition: 0.3s ease;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-list {
        position: fixed;
        top: 0;
        right: 0;

        width: 70%;
        height: 100vh;

        margin: 0;
        padding: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;
        list-style: none;

        background: rgba(0, 0, 11, 0.95);
        backdrop-filter: blur(10px);

        transform: translateX(100%);
        transition: transform 0.3s ease;

        z-index: 999;
    }

    .nav-list.active {
        transform: translateX(0);
        background: linear-gradient(135deg, #000000, #0d0449);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        box-shadow: 0 4px 10px rgb(0, 0, 0);
    }

    .nav-link {
        font-size: 20px;
    }
}