<!-- de verbinding tussen deze header en alle pagina's werken niet via local maar op netifly wel-->


<header>
    <div class="container">
        <div class="nav-container">
            
            <a class="nav-logo" href="/">
                <img src="/assets/favicon_wit.png" alt="Logo">
            </a>
            
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="/">Home</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/projecten/projecten.html">Projecten</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/#contact">Contact</a>
                </li>
            </ul>
            
            <button class="hamburger" aria-label="Menu openen">
                <span></span>
                <span></span>
                <span></span>
            </button>
        
        </div>
    </div>
</header>