<header>
    <div class="container">
        <div class="nav-container">
            
            <a class="nav-logo" href="/portfolio-website/index.html">
                <img src="/portfolio-website/assets/favicon_wit.png" alt="Logo">
            </a>
            
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="/portfolio-website/index.html">Home</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/portfolio-website/projecten/projecten.html">Projecten</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/portfolio-website/index.html#contact">Contact</a>
                </li>
            </ul>
            
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        
        </div>
    </div>
</header>